#section-navbar{
    .navbar{
        height: 100px;
        padding: 0;
        nav{
            padding: 0;
            width: 100%;
            background-color: #FFFFFF;

            a{
              img{
                  width: 115px;
                  height: auto;
              }
            }
            button{
                span{

                }
            }
            .collapse{
                ul{
                    li{
                        padding-left: 20px;
                        padding-right: 20px;
                        &.spec{
                            a{
                                color: #277F6A;
                            }
                        }
                        a{
                            font-size: 14px;
                            color: #2F3639;
                            font-family: 'Poppin-Regular';
                            text-decoration: none;

                        }
                        button{
                            border:  none;
                            font-family: 'Poppin-Regular';
                            background-color: #FFFFFF;
                            color: #2F3639;

                        }
                    }
                }
            }
        }
    }
}


// modal open margin and padding
.modal{
    &.show{
        .modal-dialog{
            margin: 9rem auto!important;
        }
    }
}