@font-face{
    font-family: 'Poppin-Regular';
    src: url(../vendor/Fonts/Poppins/Poppins-Regular.ttf);
};

@font-face{
    font-family: 'Poppin-Light';
    src: url(../vendor/Fonts/Poppins/Poppins-Light.ttf);
};

@font-face{
    font-family: 'Poppin-Medium';
    src: url(../vendor/Fonts/Poppins/Poppins-Medium.ttf);
};

@font-face{
    font-family: 'Poppin-SemiBold';
    src: url(../vendor/Fonts/Poppins/Poppins-SemiBold.ttf);
};

