@font-face {
  font-family: "Poppin-Regular";
  src: url(../vendor/Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppin-Light";
  src: url(../vendor/Fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: "Poppin-Medium";
  src: url(../vendor/Fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppin-SemiBold";
  src: url(../vendor/Fonts/Poppins/Poppins-SemiBold.ttf);
}
#section-navbar .navbar {
  height: 100px;
  padding: 0;
}
#section-navbar .navbar nav {
  padding: 0;
  width: 100%;
  background-color: #FFFFFF;
}
#section-navbar .navbar nav a img {
  width: 115px;
  height: auto;
}
#section-navbar .navbar nav .collapse ul li {
  padding-left: 20px;
  padding-right: 20px;
}
#section-navbar .navbar nav .collapse ul li.spec a {
  color: #277F6A;
}
#section-navbar .navbar nav .collapse ul li a {
  font-size: 14px;
  color: #2F3639;
  font-family: "Poppin-Regular";
  text-decoration: none;
}
#section-navbar .navbar nav .collapse ul li button {
  border: none;
  font-family: "Poppin-Regular";
  background-color: #FFFFFF;
  color: #2F3639;
}

#bannar-section {
  height: 60vh;
  display: flex;
  align-items: center;
  background: transparent linear-gradient(180deg, #2B9CFD 0%, #41EBFE 100%) 0% 0% no-repeat padding-box;
}
#bannar-section .container .row .col-sm-12 .left-side .title {
  font-size: 40px;
  color: #F6F7F8;
  font-family: "Poppin-Light";
  line-height: 60px;
  margin-bottom: 18px;
}
#bannar-section .container .row .col-sm-12 .left-side .title span {
  font-size: 40px;
  font-family: "Poppin-Medium";
}
#bannar-section .container .row .col-sm-12 .left-side .subtitle {
  font-size: 14px;
  font-family: "Poppin-Light";
  color: #F6F7F8;
  margin-bottom: 30px;
  line-height: 21px;
}
#bannar-section .container .row .col-sm-12 .left-side .search-section form .input-group {
  height: 30px;
}
#bannar-section .container .row .col-sm-12 .left-side .search-section form .input-group button {
  width: 100px;
  height: auto;
  background: #277F6A 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  font-family: "Poppin-Regular";
  color: #FFFFFF;
  font-size: 14px;
  border: none;
}
#bannar-section .container .row .col-sm-12 .right-side {
  width: 100%;
  margin-left: 80px;
}
#bannar-section .container .row .col-sm-12 .right-side .bn-image {
  width: 100%;
}
#bannar-section .container .row .col-sm-12 .right-side .bn-image .bannar-vector {
  width: 520px;
  height: auto;
}

#footer {
  margin-top: 90px;
  padding-top: 70px;
  border-top: 3px solid #DBDDDE;
}
#footer .container .row .footer-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#footer .container .row .footer-content .fo-content {
  margin-right: 80px;
}
#index-page section.our-services {
  margin-top: 120px;
}
#index-page section.our-services .container .row .col-sm-12 {
  display: flex;
  justify-content: flex-end;
}
#index-page section.our-services .container .row .col-sm-12.start {
  display: flex;
  justify-content: flex-start;
}
#index-page section.our-services .container .row .col-sm-12.middle {
  display: flex;
  justify-content: center;
}
#index-page section.our-services .container .row .col-sm-12 .service-card {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px #00000029;
  border: 1px solid #F4F4F4;
  width: 300px;
  height: auto;
  padding-bottom: 39px;
  padding-left: 18px;
  padding-right: 17px;
}
#index-page section.our-services .container .row .col-sm-12 .service-card .header {
  height: 80px;
  position: relative;
}
#index-page section.our-services .container .row .col-sm-12 .service-card .header .icon-section .icon img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -65%;
  right: 30%;
}
#index-page section.our-services .container .row .col-sm-12 .service-card .title {
  font-size: 16px;
  font-family: "Poppin-Medium";
  color: #1C1C1C;
  text-align: center;
  line-height: 26px;
  margin-bottom: 12px;
}
#index-page section.our-services .container .row .col-sm-12 .service-card .short-description {
  font-size: 8px;
  font-family: "Poppin-Light";
  color: #B6B6B6;
  line-height: 16px;
  text-align: center;
  margin-bottom: 12px;
}
#index-page section.our-services .container .row .col-sm-12 .service-card .footer {
  text-align: center;
}
#index-page section.our-services .container .row .col-sm-12 .service-card .footer a {
  font-size: 10px;
  font-family: "Poppin-Medium";
  text-decoration: none;
}
#index-page section.cr-dev-and-learning {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 70px;
  padding-bottom: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #F6F7F8;
}
#index-page section.cr-dev-and-learning .title {
  font-size: 20px;
  color: #B5B5B5;
  font-family: "Poppin-Light";
  line-height: 30px;
  text-align: center;
}
#index-page section.cr-dev-and-learning .subtitle {
  font-size: 30px;
  font-family: "Poppin-SemiBold";
  color: #2F3639;
  text-align: center;
  line-height: 46px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card {
  background-color: #FFFFFF;
  border: 1px solid #F4F4F4;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 13px;
  padding-right: 13px;
  margin-top: 45px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .header .image {
  height: 160px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .header .image .cr-dev-img {
  width: 350px;
  height: auto;
  object-fit: cover;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .header .sub-header {
  height: 70px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .header .sub-header .title {
  font-size: 16px;
  font-family: "Poppin-Medium";
  color: #2F3639;
  text-align: left;
  line-height: 26px;
  padding-top: 13px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .header .sub-header .date {
  font-size: 10px;
  font-family: "Poppin-Light";
  color: #B6B6B6;
  line-height: 16px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .body {
  font-size: 8px;
  font-family: "Poppin-Light";
  color: #B6B6B6;
  line-height: 16px;
  margin-top: 25px;
  height: 55px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .footer {
  padding-bottom: 15px;
  padding-top: 15px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .footer a {
  font-family: "Poppin-Light";
  font-size: 8px;
  color: #0057FF;
  line-height: 12px;
}
#index-page section.cr-dev-and-learning .footer .read-more {
  text-align: center;
  margin-top: 50px;
}
#index-page section.cr-dev-and-learning .footer .read-more .view-all {
  border: 1px solid #B5B5B5;
  border-radius: 17px;
  font-size: 14px;
  font-family: "Poppin-Regular";
  color: #2F3639;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}
#index-page section.how-its-work {
  margin-bottom: 50px;
}
#index-page section.how-its-work .container .row .col-12 .title {
  font-size: 40px;
  line-height: 55px;
  font-family: "Poppin-SemiBold";
  color: #2F3639;
  text-align: center;
  margin-bottom: 35px;
}
#index-page section.how-its-work .container .row .col-12 .body {
  font-size: 12px;
  font-family: "Poppin-Light";
  color: #B5B5B5;
  line-height: 24px;
  text-align: center;
}
#index-page section.subscribe .container .row .col-12 .main-section {
  background-color: #FAFAFA;
  padding-top: 55px;
  padding-bottom: 55px;
}
#index-page section.subscribe .container .row .col-12 .main-section .title {
  font-size: 20px;
  font-family: "Poppin-Light";
  color: #616161;
  line-height: 30px;
  text-align: center;
  margin-bottom: 15px;
}
#index-page section.subscribe .container .row .col-12 .main-section .title div {
  font-family: "Poppin-Regular";
  font-size: 25px;
  color: #616161;
  line-height: 30px;
  text-align: center;
}
#index-page section.subscribe .container .row .col-12 .main-section .body {
  font-size: 10px;
  font-family: "Poppin-Light";
  color: #C2C2C2;
  line-height: 16px;
  text-align: center;
  width: 365px;
  margin: auto;
  margin-bottom: 20px;
}
#index-page section.subscribe .container .row .col-12 .main-section .search-section {
  width: 400px;
  margin: auto;
}
#index-page section.subscribe .container .row .col-12 .main-section .search-section .input-group .search-subscribe {
  background-color: #277F6A;
  color: #FFFFFF;
  line-height: 23px;
  font-size: 15px;
  font-family: "Poppin-Regular";
  border: none;
}
#index-page .after-how-work-hr {
  margin-bottom: 80px;
  margin-top: 40px;
}

/*# sourceMappingURL=style.css.map */
