@charset "UTF-8";
@font-face {
  font-family: "Poppin-Regular";
  src: url(../vendor/Fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppin-Light";
  src: url(../vendor/Fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: "Poppin-Medium";
  src: url(../vendor/Fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppin-SemiBold";
  src: url(../vendor/Fonts/Poppins/Poppins-SemiBold.ttf);
}
#section-navbar .navbar {
  height: 100px;
  padding: 0;
}
#section-navbar .navbar nav {
  padding: 0;
  width: 100%;
  background-color: #FFFFFF;
}
#section-navbar .navbar nav a img {
  width: 115px;
  height: auto;
}
#section-navbar .navbar nav .collapse ul li {
  padding-left: 20px;
  padding-right: 20px;
}
#section-navbar .navbar nav .collapse ul li.spec a {
  color: #277F6A;
}
#section-navbar .navbar nav .collapse ul li a {
  font-size: 14px;
  color: #2F3639;
  font-family: "Poppin-Regular";
  text-decoration: none;
}
#section-navbar .navbar nav .collapse ul li button {
  border: none;
  font-family: "Poppin-Regular";
  background-color: #FFFFFF;
  color: #2F3639;
}

.modal.show .modal-dialog {
  margin: 9rem auto !important;
}

#bannar-section {
  height: 60vh;
  display: flex;
  align-items: center;
  background: transparent linear-gradient(180deg, #2B9CFD 0%, #41EBFE 100%) 0% 0% no-repeat padding-box;
}
#bannar-section .container .row .col-sm-12 .left-side .title {
  font-size: 40px;
  color: #F6F7F8;
  font-family: "Poppin-Light";
  line-height: 60px;
  margin-bottom: 18px;
}
#bannar-section .container .row .col-sm-12 .left-side .title span {
  font-size: 40px;
  font-family: "Poppin-Medium";
}
#bannar-section .container .row .col-sm-12 .left-side .subtitle {
  font-size: 14px;
  font-family: "Poppin-Light";
  color: #F6F7F8;
  margin-bottom: 30px;
  line-height: 21px;
}
#bannar-section .container .row .col-sm-12 .left-side .search-section form .input-group {
  height: 30px;
}
#bannar-section .container .row .col-sm-12 .left-side .search-section form .input-group button {
  width: 100px;
  height: auto;
  background: #277F6A 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  font-family: "Poppin-Regular";
  color: #FFFFFF;
  font-size: 14px;
  border: none;
}
#bannar-section .container .row .col-sm-12 .right-side {
  width: 100%;
  margin-left: 80px;
}
#bannar-section .container .row .col-sm-12 .right-side .bn-image {
  width: 100%;
}
#bannar-section .container .row .col-sm-12 .right-side .bn-image .bannar-vector {
  width: 520px;
  height: auto;
}

#footer {
  padding-top: 70px;
  border-top: 3px solid #DBDDDE;
}
#footer .container .row .footer-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#footer .container .row .footer-content .fo-content {
  margin-right: 80px;
}
#footer .container .row .footer-content .fo-content .title {
  font-size: 18px;
  font-family: "Poppin-Medium";
  color: #2F3639;
  line-height: 27px;
  margin-bottom: 30px;
}
#footer .container .row .footer-content .fo-content .links ul {
  list-style: none;
  padding-left: 0;
}
#footer .container .row .footer-content .fo-content .links ul li {
  margin-bottom: 10px;
}
#footer .container .row .footer-content .fo-content .links ul li .footer-link {
  text-decoration: none;
  font-size: 14px;
  font-family: "Poppin-Light";
  color: #2F3639;
  line-height: 21px;
}
#footer .container .row .last-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
}
#footer .container .row .last-footer .title-text {
  font-size: 18px;
  font-family: "Poppin-Light";
  color: #2F3639;
  line-height: 27px;
  margin-right: 40px;
}
#footer .container .row .last-footer .logo-with-phone {
  display: flex;
  align-items: center;
}
#footer .container .row .last-footer .logo-with-phone .logo .last-footer-logo {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
#footer .container .row .last-footer .logo-with-phone .caller-text {
  font-size: 18px;
  font-family: "Poppin-Medium";
  color: #2F3639;
  line-height: 27px;
}

.modal .modal-dialog .modal-content .modal-header {
  justify-content: center;
  border-bottom: none;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 20px;
  font-family: "Poppin-SemiBold";
  line-height: 20px;
  color: #2F3639;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}
.modal .modal-dialog .modal-content .modal-header .social-media-signup {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.modal .modal-dialog .modal-content .modal-header .social-media-signup .signup-button {
  margin-bottom: 10px;
}
.modal .modal-dialog .modal-content .modal-header .social-media-signup .signup-button button {
  width: 100%;
  background: transparent linear-gradient(90deg, #2B9CFD 0%, #41EBFE 100%) 0% 0% no-repeat padding-box;
  border-radius: 3px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 15px;
  font-family: "Poppin-Regular";
  line-height: 23px;
  color: #FFFFFF !important;
}
.modal .modal-dialog .modal-content .modal-body {
  border-bottom: none;
  margin-left: 15px;
  margin-right: 15px;
}
.modal .modal-dialog .modal-content .modal-body .or {
  text-align: center;
  font-size: 20px;
  font-family: "Poppin-Light";
  color: #3EE1FE;
  line-height: 30px;
  margin-bottom: 20px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .nav {
  justify-content: center;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .nav .nav-item {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .nav .nav-item .nav-link {
  font-size: 14px;
  color: #76899C;
  font-family: "Poppin-Light";
  line-height: 21px;
  border: 1px solid #DDDDDD;
  width: 190px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .nav .nav-item .nav-link.active {
  background: transparent linear-gradient(90deg, #2B9CFD 0%, #41EBFE 100%) 0% 0% no-repeat padding-box;
  font-size: 14px;
  font-family: "Poppin-Regular";
  color: #FFFFFF !important;
  line-height: 21px !important;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .job-seeker-form {
  margin-top: 25px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .job-seeker-form form .form-row {
  width: 100%;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .job-seeker-form form .form-row.first-row {
  width: 100%;
  display: flex;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .job-seeker-form form .form-row.first-row .first-name {
  width: 48%;
  padding-right: 5px;
  margin-right: 7px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .job-seeker-form form .form-row.first-row .last-name {
  width: 48%;
  padding-left: 5px;
  margin-left: 7px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .job-seeker-form form .form-row input {
  border: 1px solid #DDDDDD;
  height: 50px;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 20px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .job-seeker-form form .form-row input::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "Poppin-Light";
  color: #76899C;
  padding-left: 15px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .job-seeker-form form .form-row input:focus {
  border: 1px solid #DDDDDD;
  padding-left: 15px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .job-seeker-form form .submit-button {
  width: 100%;
  margin-top: 10px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .job-seeker-form form .submit-button .signup {
  background: transparent linear-gradient(90deg, #2B9CFD 0%, #41EBFE 100%) 0% 0% no-repeat padding-box;
  border-radius: 3px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #FFFFFF !important;
  font-size: 18px;
  font-family: "Poppin-SemiBold" !important;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .company-form {
  margin-top: 25px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .company-form form .form-row {
  width: 100%;
  margin-bottom: 25px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .company-form form .form-row select {
  width: 100%;
  border: 1px solid #DDDDDD;
  height: 50px;
  font-family: "Poppin-Light";
  color: #76899C;
  font-size: 14px;
  padding-left: 10px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .company-form form .form-row select option {
  font-family: "Poppin-Light";
  color: #76899C;
  font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .company-form form .form-row input {
  width: 100%;
  height: 50px;
  border: 1px solid #DDDDDD;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .company-form form .form-row input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Poppin-Light";
  color: #76899C;
  font-size: 14px;
  padding-left: 10px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .company-form form .form-row input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Poppin-Light";
  color: #76899C;
  font-size: 14px;
  padding-left: 10px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .company-form form .form-row input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "Poppin-Light";
  color: #76899C;
  font-size: 14px;
  padding-left: 10px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .company-form form .form-row input:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Poppin-Light";
  color: #76899C;
  font-size: 14px;
  padding-left: 10px;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .company-form form .company-form-submit {
  width: 100%;
}
.modal .modal-dialog .modal-content .modal-body .signup-form-with-tab div .tab-section .tab-content .tab-pane .card-text .company-form form .company-form-submit .button-submit {
  background: transparent linear-gradient(90deg, #2B9CFD 0%, #41EBFE 100%) 0% 0% no-repeat padding-box;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  font-family: "Poppin-SemiBold";
  color: #FFFFFF !important;
  font-size: 18px;
}
.modal .modal-dialog .modal-content .modal-footer {
  border-top: none;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
}
.modal .modal-dialog .modal-content .modal-footer .footer-signup-modal {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.modal .modal-dialog .modal-content .modal-footer .footer-signup-modal .text {
  color: #76899C !important;
  font-family: "Poppin-Light";
  font-size: 14px;
  line-height: 21px;
  padding-right: 7px;
}
.modal .modal-dialog .modal-content .modal-footer .footer-signup-modal .signinlink a {
  font-family: "Poppin-Light";
  font-size: 14px;
  line-height: 21px;
  color: #3CD7FE !important;
}

#left-sidebar {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 2px;
  margin-bottom: 100px;
  margin-top: 50px;
}
#left-sidebar .left-sidebar .section {
  margin-bottom: 30px;
}
#left-sidebar .left-sidebar .section .title {
  font-size: 10px;
  font-family: "Poppin-Medium";
  color: #2F3639;
  line-height: 16px;
  margin-bottom: 12px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dde6e9;
}
#left-sidebar .left-sidebar .section .links .link-with-logo {
  display: flex;
  align-items: center;
}
#left-sidebar .left-sidebar .section .links .link-with-logo .logo .logo-img {
  width: 12px;
  height: 12px;
}
#left-sidebar .left-sidebar .section .links .link-with-logo .links {
  padding-left: 13px;
}
#left-sidebar .left-sidebar .section .links .link-with-logo .links.special {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#left-sidebar .left-sidebar .section .links .link-with-logo .links a {
  font-family: "Poppin-Regular";
  color: #2F3639;
  font-size: 8px;
  line-height: 12px;
  text-decoration: none;
}

#index-page {
  margin-bottom: 100px;
}
#index-page section.our-services {
  margin-top: 120px;
}
#index-page section.our-services .container .row .col-sm-12 {
  display: flex;
  justify-content: flex-end;
}
#index-page section.our-services .container .row .col-sm-12.start {
  display: flex;
  justify-content: flex-start;
}
#index-page section.our-services .container .row .col-sm-12.middle {
  display: flex;
  justify-content: center;
}
#index-page section.our-services .container .row .col-sm-12 .service-card {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px #00000029;
  border: 1px solid #F4F4F4;
  width: 300px;
  height: auto;
  padding-bottom: 39px;
  padding-left: 18px;
  padding-right: 17px;
}
#index-page section.our-services .container .row .col-sm-12 .service-card .header {
  height: 80px;
  position: relative;
}
#index-page section.our-services .container .row .col-sm-12 .service-card .header .icon-section .icon img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -65%;
  right: 30%;
}
#index-page section.our-services .container .row .col-sm-12 .service-card .title {
  font-size: 16px;
  font-family: "Poppin-Medium";
  color: #1C1C1C;
  text-align: center;
  line-height: 26px;
  margin-bottom: 12px;
}
#index-page section.our-services .container .row .col-sm-12 .service-card .short-description {
  font-size: 8px;
  font-family: "Poppin-Light";
  color: #B6B6B6;
  line-height: 16px;
  text-align: center;
  margin-bottom: 12px;
}
#index-page section.our-services .container .row .col-sm-12 .service-card .footer {
  text-align: center;
}
#index-page section.our-services .container .row .col-sm-12 .service-card .footer a {
  font-size: 10px;
  font-family: "Poppin-Medium";
  text-decoration: none;
}
#index-page section.cr-dev-and-learning {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 70px;
  padding-bottom: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #F6F7F8;
}
#index-page section.cr-dev-and-learning .title {
  font-size: 20px;
  color: #B5B5B5;
  font-family: "Poppin-Light";
  line-height: 30px;
  text-align: center;
}
#index-page section.cr-dev-and-learning .subtitle {
  font-size: 30px;
  font-family: "Poppin-SemiBold";
  color: #2F3639;
  text-align: center;
  line-height: 46px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card {
  background-color: #FFFFFF;
  border: 1px solid #F4F4F4;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 13px;
  padding-right: 13px;
  margin-top: 45px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .header .image {
  height: 160px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .header .image .cr-dev-img {
  width: 350px;
  height: auto;
  object-fit: cover;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .header .sub-header {
  height: 70px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .header .sub-header .title {
  font-size: 16px;
  font-family: "Poppin-Medium";
  color: #2F3639;
  text-align: left;
  line-height: 26px;
  padding-top: 13px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .header .sub-header .date {
  font-size: 10px;
  font-family: "Poppin-Light";
  color: #B6B6B6;
  line-height: 16px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .body {
  font-size: 8px;
  font-family: "Poppin-Light";
  color: #B6B6B6;
  line-height: 16px;
  margin-top: 25px;
  height: 55px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .footer {
  padding-bottom: 15px;
  padding-top: 15px;
}
#index-page section.cr-dev-and-learning .body .container .row .col-sm-12 .cr-dev-card .footer a {
  font-family: "Poppin-Light";
  font-size: 8px;
  color: #0057FF;
  line-height: 12px;
}
#index-page section.cr-dev-and-learning .footer .read-more {
  text-align: center;
  margin-top: 50px;
}
#index-page section.cr-dev-and-learning .footer .read-more .view-all {
  border: 1px solid #B5B5B5;
  border-radius: 17px;
  font-size: 14px;
  font-family: "Poppin-Regular";
  color: #2F3639;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}
#index-page section.how-its-work {
  margin-bottom: 50px;
}
#index-page section.how-its-work .container .row .col-12 .title {
  font-size: 40px;
  line-height: 55px;
  font-family: "Poppin-SemiBold";
  color: #2F3639;
  text-align: center;
  margin-bottom: 35px;
}
#index-page section.how-its-work .container .row .col-12 .body {
  font-size: 12px;
  font-family: "Poppin-Light";
  color: #B5B5B5;
  line-height: 24px;
  text-align: center;
}
#index-page section.subscribe .container .row .col-12 .main-section {
  background-color: #FAFAFA;
  padding-top: 55px;
  padding-bottom: 55px;
}
#index-page section.subscribe .container .row .col-12 .main-section .title {
  font-size: 20px;
  font-family: "Poppin-Light";
  color: #616161;
  line-height: 30px;
  text-align: center;
  margin-bottom: 15px;
}
#index-page section.subscribe .container .row .col-12 .main-section .title div {
  font-family: "Poppin-Regular";
  font-size: 25px;
  color: #616161;
  line-height: 30px;
  text-align: center;
}
#index-page section.subscribe .container .row .col-12 .main-section .body {
  font-size: 10px;
  font-family: "Poppin-Light";
  color: #C2C2C2;
  line-height: 16px;
  text-align: center;
  width: 365px;
  margin: auto;
  margin-bottom: 20px;
}
#index-page section.subscribe .container .row .col-12 .main-section .search-section {
  width: 400px;
  margin: auto;
}
#index-page section.subscribe .container .row .col-12 .main-section .search-section .input-group .search-subscribe {
  background-color: #277F6A;
  color: #FFFFFF;
  line-height: 23px;
  font-size: 15px;
  font-family: "Poppin-Regular";
  border: none;
}
#index-page .after-how-work-hr {
  margin-bottom: 80px;
  margin-top: 40px;
}

#personal-info {
  margin-top: 50px;
}

#appliedjob {
  margin-top: 50px;
  margin-bottom: 100px;
}
#appliedjob .title {
  font-size: 16px;
  font-family: "Poppin-Medium";
  color: #2F3639;
  line-height: 25px;
}
#appliedjob .applied-job-card {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 2px #00000029;
  border-radius: 5px;
  padding: 20px;
  margin-top: 30px;
}
#appliedjob .applied-job-card .header .header-content {
  display: flex;
  justify-content: space-between;
}
#appliedjob .applied-job-card .header .header-content .left-side .image {
  width: 60px;
  height: 45px;
}
#appliedjob .applied-job-card .header .header-content .left-side .title {
  font-size: 12px;
  font-family: "Poppin-Medium";
  color: #000000;
  line-height: 18px;
}
#appliedjob .applied-job-card .header .header-content .left-side .location {
  font-size: 6px;
  font-family: "Poppin-Regular";
  color: #6B6B8C;
  line-height: 9px;
}
#appliedjob .applied-job-card .header .header-content .right-side {
  position: relative;
}
#appliedjob .applied-job-card .header .header-content .right-side .dot-text::after {
  content: "⠇";
  font-size: 20px;
  cursor: pointer;
}
#appliedjob .applied-job-card .header .header-content .right-side .dot-click-open {
  position: absolute;
  right: 0;
  top: 30px;
  width: 155px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  z-index: 9;
}
#appliedjob .applied-job-card .header .header-content .right-side .dot-click-open .share-content {
  display: flex;
  align-items: center;
  height: 27px;
  padding-left: 6px;
  cursor: pointer;
}
#appliedjob .applied-job-card .header .header-content .right-side .dot-click-open .share-content:hover {
  background-color: #F6F7F8;
}
#appliedjob .applied-job-card .header .header-content .right-side .dot-click-open .share-content .icon img {
  width: 10px;
  height: 10px;
}
#appliedjob .applied-job-card .header .header-content .right-side .dot-click-open .share-content .text {
  padding-left: 10px;
  font-family: "Poppin-Regular";
  font-size: 9px;
  line-height: 13px;
  color: #2F3639;
}
#appliedjob .applied-job-card .body {
  padding-top: 15px;
  font-size: 8px;
  font-family: "Poppin-Light";
  color: #B6B6BB;
  line-height: 12px;
  height: 50px;
  overflow: hidden;
  margin-bottom: 15px;
}
#appliedjob .applied-job-card .footer .tags {
  display: flex;
  align-items: center;
}
#appliedjob .applied-job-card .footer .tags span {
  width: 75px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #277F6A;
  flex-direction: column;
  margin-right: 30px;
  font-size: 8px;
  font-family: "Poppin-Medium";
  color: #FFFFFF;
}
#appliedjob .applied-job-card .footer .applied-duration {
  margin-top: 30px;
  font-size: 8px;
  font-family: "Poppin-Regular";
  color: #277F6A;
  line-height: 12px;
}

#our_blog {
  margin-top: 50px;
  margin-bottom: 50px;
}
#our_blog .container .row .col-sm-12 .blog-body-section {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #00000029;
  border: 1px solid #F4F4F4;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 25px;
}
#our_blog .container .row .col-sm-12 .blog-body-section .blog-card .title-date {
  height: 60px;
}
#our_blog .container .row .col-sm-12 .blog-body-section .blog-card .title-date .title {
  font-size: 10px;
  font-family: "Poppin-Medium";
  color: #2F3639;
  line-height: 16px;
  margin-top: 10px;
}
#our_blog .container .row .col-sm-12 .blog-body-section .blog-card .title-date .date {
  font-size: 6px;
  line-height: 9px;
  font-family: "Poppin-Light";
  color: #B6B6B6;
  margin-top: 5px;
}
#our_blog .container .row .col-sm-12 .blog-body-section .blog-card .body {
  font-size: 8px;
  color: #B6B6B6;
  font-family: "Poppin-Light";
  line-height: 12px;
  height: 36px;
  overflow: hidden;
}
#our_blog .container .row .col-sm-12 .blog-body-section .blog-card .footer a {
  font-size: 5px;
  font-family: "Poppin-Light";
  color: #0057FF;
  line-height: 8px;
}

#save_for_later {
  margin-top: 50px;
  margin-bottom: 50px;
}
#save_for_later .title {
  font-size: 16px;
  font-family: "Poppin-Medium";
  color: #2F3639;
  line-height: 25px;
}
#save_for_later .save-for-later-body .container .row .col-sm-12 .save-for-later-card {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 18px;
  margin-bottom: 35px;
}
#save_for_later .save-for-later-body .container .row .col-sm-12 .save-for-later-card .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
#save_for_later .save-for-later-body .container .row .col-sm-12 .save-for-later-card .header .left .image img {
  width: 57px;
  height: 43px;
}
#save_for_later .save-for-later-body .container .row .col-sm-12 .save-for-later-card .header .left .job-title {
  font-size: 11px;
  line-height: 17px;
  font-family: "Poppin-Medium";
  color: #000000;
}
#save_for_later .save-for-later-body .container .row .col-sm-12 .save-for-later-card .header .left .job-location {
  font-size: 5px;
  font-family: "Poppin-Regular";
  color: #6B6B8C;
  line-height: 8px;
}
#save_for_later .save-for-later-body .container .row .col-sm-12 .save-for-later-card .header .right .dot-button::after {
  content: "⠇";
  font-size: 20px;
  cursor: pointer;
}
#save_for_later .save-for-later-body .container .row .col-sm-12 .save-for-later-card .body {
  height: 90px;
  margin-bottom: 10px;
}
#save_for_later .save-for-later-body .container .row .col-sm-12 .save-for-later-card .body .job-des {
  height: 45px;
  font-family: "Poppin-Light";
  font-size: 8px;
  color: #B6B6BB;
  line-height: 12px;
  overflow: hidden;
  margin-bottom: 10px;
}
#save_for_later .save-for-later-body .container .row .col-sm-12 .save-for-later-card .body .tags {
  display: flex;
}
#save_for_later .save-for-later-body .container .row .col-sm-12 .save-for-later-card .body .tags span {
  width: 70px;
  background-color: #F6F7F8;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 7px;
  font-family: "Poppin-Medium";
  color: #277F6A;
  line-height: 10px;
  margin-right: 10px;
}
#save_for_later .save-for-later-body .container .row .col-sm-12 .save-for-later-card .footer {
  display: flex;
  justify-content: space-between;
}
#save_for_later .save-for-later-body .container .row .col-sm-12 .save-for-later-card .footer .apply-button button {
  background: #277F6A 0% 0% no-repeat padding-box;
  border-radius: 2px;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "Poppin-Medium";
  font-size: 9px;
  color: #FFFFFF;
  line-height: 13px;
  width: 100px;
}
#save_for_later .save-for-later-body .container .row .col-sm-12 .save-for-later-card .footer .love-icon img {
  width: 23px;
  height: 23px;
}

#our_blog_details {
  margin-top: 50px;
  margin-bottom: 50px;
}
#our_blog_details .title {
  font-size: 16px;
  line-height: 25px;
  font-family: "Poppin-Medium";
  color: #2F3639;
}
#our_blog_details .container .row .col-12 .blog-details-card {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #00000029;
  border: 1px solid #F4F4F4;
  border-radius: 4px;
  padding: 7px;
}
#our_blog_details .container .row .col-12 .blog-details-card .header {
  position: relative;
}
#our_blog_details .container .row .col-12 .blog-details-card .header img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
#our_blog_details .container .row .col-12 .blog-details-card .header .image-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(269deg, #277F6A 0%, #0881BD8F 100%) 0% 0% no-repeat padding-box;
  opacity: 0.57;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#our_blog_details .container .row .col-12 .blog-details-card .header .image-layer .job-title {
  font-size: 35px;
  font-family: "Poppin-Medium";
  color: #FFFFFF;
  line-height: 35px;
  margin-bottom: 15px;
}
#our_blog_details .container .row .col-12 .blog-details-card .header .image-layer .job-date {
  font-size: 15px;
  font-family: "Poppin-Light";
  line-height: 23px;
  color: #2F3639;
}
#our_blog_details .container .row .col-12 .blog-details-card .body {
  padding: 15px;
  margin-top: 30px;
}
#our_blog_details .container .row .col-12 .blog-details-card .body .des {
  font-size: 14px;
  font-family: "Poppin-Light";
  line-height: 21px;
  color: #012D3A;
  width: 100%;
  margin-bottom: 17px;
}
#our_blog_details .container .row .col-12 .blog-details-card .body .des.first-des {
  height: 300px;
  overflow: hidden;
}
#our_blog_details .container .row .col-12 .blog-details-card .body .title {
  font-size: 16px;
  font-family: "Poppin-SemiBold";
  color: #012D3A;
  line-height: 28px;
  margin-bottom: 12px;
}
#our_blog_details .container .row .col-12 .blog-details-card .footer {
  padding: 15px;
}
#our_blog_details .container .row .col-12 .blog-details-card .footer .container .row .col-sm-12 .our-blog-card {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #00000029;
  border: 1px solid #F4F4F4;
  border-radius: 4px;
  padding: 7px;
}
#our_blog_details .container .row .col-12 .blog-details-card .footer .container .row .col-sm-12 .our-blog-card .header img {
  height: 100%;
}
#our_blog_details .container .row .col-12 .blog-details-card .footer .container .row .col-sm-12 .our-blog-card .body {
  margin-top: 8px;
  padding: 0;
}
#our_blog_details .container .row .col-12 .blog-details-card .footer .container .row .col-sm-12 .our-blog-card .body .title {
  font-size: 8px;
  line-height: 12px;
  font-family: "Poppin-Medium";
  color: #2F3639;
}
#our_blog_details .container .row .col-12 .blog-details-card .footer .container .row .col-sm-12 .our-blog-card .body .date {
  font-size: 5px;
  font-family: "Poppin-Light";
  line-height: 8px;
  color: #B6B6B6;
}
#our_blog_details .container .row .col-12 .blog-details-card .footer .container .row .col-sm-12 .our-blog-card .body .job-des {
  font-size: 8px;
  font-family: "Poppin-Light";
  line-height: 12px;
  color: #B6B6B6;
  height: 35px;
  overflow: hidden;
}
#our_blog_details .container .row .col-12 .blog-details-card .footer .container .row .col-sm-12 .our-blog-card .footer {
  padding: 0;
}
#our_blog_details .container .row .col-12 .blog-details-card .footer .container .row .col-sm-12 .our-blog-card .footer a {
  font-size: 4px;
  font-family: "Poppin-Light";
  line-height: 5px;
  color: #0057FF;
}
#our_blog_details .container .row .col-12 .blog-details-card .footer .container .view-all-button {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
#our_blog_details .container .row .col-12 .blog-details-card .footer .container .view-all-button a {
  border: 1px solid #277F6A;
  border-radius: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 8px;
  font-family: "Poppin-Light";
  color: #277F6A;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
